.loading {
  /* height: 100vh; */
  padding-top: 15%;
  padding-bottom: 15%;
  display: flex;
  justify-content: center;
}

.loader {
  margin: auto;
  border: 1rem solid white;
  border-radius: 50%;
  border-top: 0.5rem solid #ffff;
  border-bottom: 0.5rem solid #EB507F;
  border-left: 0.5rem solid #EB507F;
  border-right: 0.5rem solid #EB507F;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}