.hero-container {
  height: 500px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);

}

.hero-image {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  left: 0px;
  top: 85px;
}

.hero-text {
  text-align: left;
  position: absolute;
  width: 750px;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}

.hero-text > div > h2 {
  padding-bottom: 20px;
}

.hero-text > div > p {
  font-size: 20px;
  font-weight: lighter;
}